@import "tailwindcss";

@theme {
  --color-primary-dark: #0A192F;
  --color-primary-light: #F8FAFC;
  --color-accent: #3B82F6;
  --color-accent-hover: #2563EB;
  --font-inter: "Inter", "Roboto", sans-serif;
}

@layer base {
  body {
    @apply bg-primary-light text-slate-800 font-inter antialiased;
  }
}
